{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div>
    <h1>Contact Form</h1>

</div>

    <!--  pour éviter les attaques CSRF (Cross-Site Request Forgery)-->
        
       <!--{% crispy form%} -->  
        {% crispy form%}
        <!-- <button type="submit" class="btn btn-primary">Envoyer</button> -->
    

    <script>

        // validation Email
        function isValidEmail(email) {
          const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return re.test(email);
        }

        document.getElementById('id_email').addEventListener('input',function(){    
            email=document.getElementById('id_email').value.trim();
            
            if(document.getElementById('a')){
                    document.getElementById('a').remove();
                }
            if(!isValidEmail(email)){
                
                sp=document.createElement('p')
                sp.innerText="Email is not valid"
                sp.style.color='red'
                sp.id="a"
                document.getElementById('sp').appendChild(sp)
            }
        });

 
    </script>
{% endblock %}
